body {
    background: slateblue;
}

button {
    background-color: slategray;
    font-size: 18px;
    height: 50px;
    width: 100px;
}

p {
    font-size: 20px;
}

table {
    margin: auto auto;
}

td {
    border: 10px solid navy;
    font-size: 100px;
    height: 130px;
    text-align: center;
    width: 130px;
}

.jumbotron {
    margin-bottom: 20px;
    text-align: center;
}